.container {
  margin: 30px 50px;
}

.prof-button {
  float: right;
}

h6 {
  font-size: 1em;
  color: grey;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600
}

button[role=tab] {
  text-align: left !important; 
}

.MuiTab-wrapper {
  align-items: normal !important;
}