.container {
  margin: 30px 50px;
}

.prof-button {
  float: right;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h6 {
  font-size: 1em;
  color: grey;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
